<section class="best-seller">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bar">
                    <h2>Más vendidos</h2>
                    <%= image_tag "img/bar.jpg" %>
                </div>
            </div>
        </div>
        <div class="best-seller-part">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4">
                        <div class="best-sell-part">
                            <%= image_tag "img/producto12.png" %>
                            <p><i class="fa fa-heart" aria-hidden="true"></i></p>
                            <h4>Vista rápida</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="prodact-s-text">
                                        <h3>Multilámpara de techo</h3>
                                        
                                        <h5 class="mt-2">$250</h5>
                                        <p class="cart">Añadir</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="best-sell-part">
                            <%= image_tag "img/producto13.png" %>
                            <p><i class="fa fa-heart" aria-hidden="true"></i></p>
                            <h4>Vista  rápida</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="prodact-s-text">
                                        <h3>Lámpara fija de pared</h3>
                                        
                                        <h5 class="mt-2">$250</h5>
                                        <p class="cart">Añadir</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="best-sell-part">
                            <%= image_tag "img/producto14.png" %>
                            <p><i class="fa fa-heart" aria-hidden="true"></i></p>
                            <h4>Vista rápida</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="prodact-s-text">
                                        <h3>Sillón colgante</h3>
                                        
                                        <h5 class="mt-2">$250</h5>
                                        <p class="cart">Añadir</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-5">
                    <div class="winter-cloth">
                   <div class="big-cloth">
                       <%= image_tag "img/carro2.png" %>
                   </div>
                   <div class="row">
                      <div class="col-md-12">
                           <div class="s-cloth">
                               <img src="img/carrito1.png" alt="">
                           </div>
                           <div class="s-cloth">
                               <img src="img/carrito2.png" alt="">
                           </div>
                           <div class="s-cloth">
                               <img src="img/" alt="">
                           </div>
                           <div class="s-cloth">
                               <img src="img/" alt="">
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="w_text">
                               <h4>Carrito miniatura de bambu</h4>
                               <h5>Diferentes modelos</h5>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-md-6">
                           <div class="dollar">
                               <p>&#36;399.99</p>
                           </div>
                       </div>
                       <div class="col-md-6">
                           <div class="option">
                               <button>SELECCIONA</button>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>