<div id="<%= dom_id campaign %>">
  <p>
    <strong>Title:</strong>
    <%= campaign.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= campaign.subtitle %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= campaign.description %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= campaign.image_url %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= campaign.content %>
  </p>

  <p>
    <strong>Goal amount:</strong>
    <%= campaign.goal_amount %>
  </p>

  <p>
    <strong>Current amount:</strong>
    <%= campaign.current_amount %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= campaign.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= campaign.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= campaign.status %>
  </p>

</div>
