<header class="header">
  <div class="header__secondary-navigation">
    <%= render 'layouts/top_bar', taxons: taxons, taxon: taxon %>
  </div>
  <div class="header__primary-navigation">
    <div class="category-navigation">
      
      <nav class="categories">
        <ul class="categories__list">
          <li><%= link_to 'Home', root_path %></li>
          <li><a href="#">Online Store</a></li>
          <li><%= link_to 'Ecotourism', ecotourism_index_path %></li>
          <li><%= link_to 'Workshops', workshops_path %></li>
          <li><%= link_to 'Services', services_path %></li>
          <li><%= link_to 'Mobility', mobility_index_path %></li>
          <li><%= link_to 'Campaigns', campaigns_path %></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      <nav>

    </div>
  </div>
</header>
